.collapse {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
}

.form-popup {
     display: none;
     position: fixed;
     right: 325px;
     border: 3px solid;
     z-index: 9;
     background-color: gray;
     width: 50%;
     height: 54%;
}

.form-container {
     max-width: 300px;
     padding: 10px;
}

.form-container input[type=text], .form-container input[type=number] {
     width: 100%;
     border: none;
     background: #f1f1f1;
}

.form-container input[type=text]:focus {
     background-color: #ddd;
     outline: none;
}

.btn-submit {
     justify-content: space-between;
     background-color: green;
     padding: 5px;
}

.btn-cancel {
     justify-content: space-between;
     background-color: red;
     padding: 5px;
}
